<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="microsoft.identityModel"
                 type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <connectionStrings>
        <add name="SpeakerNetDbContext"
             connectionString="Data Source=|DataDirectory|SpeakerNet.sdf;Persist Security Info=False;"
             providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="true" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="IoC.IncludeAssemblies" value="SpeakerNet" />
        <add key="Site.Name" value="SpeakerNet des dotnet Köln/Bonn e.V." />
        <add key="Mail.From" value="orga@dotnet-cologne.de" />
        <add key="Mail.cc" value="info@dotnet-koelnbonn.de" />
        <add key="Certificate.SigningCertificateName" value="CN=DefaultApplicationCertificate" />
        <add key="Certificate.EncryptingCertificateName" value="CN=DefaultApplicationCertificate" />
        <add key="Certificate.StoreName" value="My" />
        <add key="Certificate.StoreLocation" value="LocalMachine" />
        <add key="FederationMetadataLocation"
             value="https://dotnet-koelnbonn.de/sts/federationmetadata/2007-06/federationmetadata.xml" />
    </appSettings>
    <system.web>
        <globalization culture="de-DE" uiCulture="de-DE" />
        <httpRuntime requestValidationType="SpeakerNet.Security.WSFederationRequestValidator" />
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.0" batch="false" optimizeCompilations="false">
            <assemblies>
                <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <customErrors mode="Off" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="orga@dotnet-cologne.de" deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="C:\Work\TempMails" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                      type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                <providerOption name="CompilerVersion" value="v4.0" />
            </compiler>
        </compilers>
    </system.codedom>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <add name="WSFederationAuthenticationModule"
                 type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 preCondition="managedHandler" />
            <add name="SessionAuthenticationModule"
                 type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 preCondition="managedHandler" />
        </modules>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" />
                <bindingRedirect oldVersion="2.6.0.0-2.6.3.0" newVersion="2.6.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.265.0" newVersion="2.1.265.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <microsoft.identityModel>
        <service>
            <audienceUris>
                <add value="https://localhost:44302/speakernet" />
            </audienceUris>
            <applicationService>
                <claimTypeRequired>
                    <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false" />
                    <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="false" />
                </claimTypeRequired>
            </applicationService>
            <federatedAuthentication>
                <wsFederation passiveRedirectEnabled="true" issuer="https://dotnet-koelnbonn.de/sts/issuer/passive"
                              realm="https://localhost:44302/speakernet" requireHttps="true" />
                <cookieHandler requireSsl="true" name=".authspeakernet" />
            </federatedAuthentication>
            <issuerNameRegistry
type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <trustedIssuers>
                    <add thumbprint="8F16E450F9DE8BB277D2B986A8689D3300BA9379"
                         name="https://dotnet-koelnbonn.de/sts/issuer/passive" />
                </trustedIssuers>
            </issuerNameRegistry>
            <certificateValidation certificateValidationMode="None" />
        </service>
    </microsoft.identityModel>
    <entityFramework />
</configuration>