@model string

@Html.TextAreaFor(m=>m, new {@class="text-box multi-line"})
@Html.ValidationMessageFor(model => model)<br />
<sup>@ViewData.ModelMetadata.Description <a href="http://wikiplex.codeplex.com/wikipage?title=Markup%20Guide&referringTitle=Documentation" target="wikimarkup">Wiki-Markup möglich</a></sup>
