@model IEnumerable<ListSessionVotingModel>

@{
    ViewBag.Title = "Session Voting";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<h2>Abstimmung</h2>
<section data-ng-app="SpeakerNet.Voting" class="ng-cloak" ng-cloak>
    <div data-ng-controller="Voting">
        <div>
            Suche:
            <input data-ng-model="query" />
            Sortierung:
            <select data-ng-model="orderProperty">
                <option value="Name">Session</option>
                <option value="SpeakerLastName">Name</option>
                <option value="Duration">Dauer</option>
                <option value="Point">Punkte</option>
            </select>
        Vergebene Punkte: {{currentPoints}}</div>
        <table>
            <thead>
                <tr>
                    <th>
                        Titel
                    </th>
                    <th>
                        Sprecher
                    </th>
                    <th>
                        Dauer
                    </th>
                    <th>
                        Punkte
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="session in sessions | filter:query | orderBy:orderProperty">
                    <td data-ng-click="showSessionDetails(session)" class="showHand">
                        <div><b>{{session.Name}}</b></div>
                        <div data-ng-show="session.ShowAbstract" class="popup" data-ng-mouseleave="session.ShowAbstract=false">
                            <p data-ng-bind-html-unsafe="session.Abstract"></p>
                        </div>
                    </td>
                    <td>{{session.SpeakerFirstName}} {{session.SpeakerLastName}}</td>
                    <td>{{session.Duration}}</td>
                    <td data-ng-mouseenter="showVoting(session)">
                        <div class="voting popup" data-ng-show="session.ShowVoting" data-ng-mouseleave="hideVoting(session)">
                            <a data-ng-click="vote(session, 3, $event)">3</a>
                            <a data-ng-click="vote(session, 2, $event)">2</a>
                            <a data-ng-click="vote(session, 1, $event)">1</a>
                            <a data-ng-click="vote(session, 0, $event)">0</a>
                        </div>
                        <div>{{session.Points}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.ActionLink("Abstimmungs Ergebnisse","Results")
    </div>
</section>

@section scripts 
{
    @Scripts.Render("~/resources/angular")
    @Scripts.Render("~/resources/sessionvoting")
}