@model IEnumerable<SpeakerListModel>
@{
    View.Title = "Sprecher";
    }
@{
    var grid = new WebGrid(Model);
    var columns = grid.Columns(
        grid.Column("Id", "",  o => Html.ShowSpeaker("Zeigen", (SpeakerListModel)o.Value)),
        grid.Column("Fullname"));
}

<h2>Sprecher</h2>
@grid.GetHtml(columns: columns)

<p>
    @Html.CreateSpeaker("Neuen Sprecher anlegen")
</p>
