<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aperea.Bootstrap" version="0.7.3.68" targetFramework="net40" />
  <package id="Aperea.Bootstrap.Mvc" version="0.7.3.68" targetFramework="net40" />
  <package id="Aperea.Identity" version="0.7.3.68" targetFramework="net40" />
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="ColorCode" version="1.0.1" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.DataLink" version="0.1" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.Web.Optimization" version="1.0.0-beta" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="WikiPlex" version="2.0" />
</packages>