<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.0.4" targetFramework="net40" />
  <package id="Aperea.Bootstrap" version="0.7.3.69" targetFramework="net40" />
  <package id="Aperea.Bootstrap.Mvc" version="0.7.3.69" targetFramework="net40" />
  <package id="Aperea.Data.EntityFramework" version="0.7.3.69" targetFramework="net40" />
  <package id="Aperea.Identity" version="0.7.3.69" targetFramework="net40" />
  <package id="AutoMapper" version="2.2.1-ci9001" targetFramework="net40" />
  <package id="ColorCode" version="1.0.1" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.11.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="WebGrease" version="1.3.0" targetFramework="net40" />
  <package id="WikiPlex" version="2.0" />
</packages>