<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="structuremap" version="2.6.1.0" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.StructureMapAdapter" version="1.1" />
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="ColorCode" version="1.0.1" />
  <package id="WikiPlex" version="2.0" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="jQuery.Validation" version="1.6" />
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="jQuery.DataLink" version="0.1" />
  <package id="xunit" version="1.7.0.1540" />
</packages>