<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="Replace">
        <add name="SpeakerNetDbContext" connectionString="Data Source=C:\WebSiteData\dotnet-koelnbonn.de,speakernet\SpeakerNet.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug,batch,optimizeCompilations)"  />
        <customErrors  mode="RemoteOnly" xdt:Transform="Replace">
        </customErrors>
    </system.web>

    <system.net>
        <mailSettings xdt:Transform="Replace">
            <smtp configProtectionProvider="RsaProtectedConfigurationProvider">
                <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                  xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                                <KeyName>Rsa Key</KeyName>
                            </KeyInfo>
                            <CipherData>
                                <CipherValue>S2iCdql7B7AQx46Jni6IhunngAeB35NJ4tV6Pb6pJN83N8uFFROUkuuYSzWw/pbiWXKwGHM/WHmGNVJeJTLexQuGheGS9O0rDqWd03pbodld4eSAfcNRws6nF1+Z2oWKC0x3I4HHe3YAxiYtBjEKl9iW0GaBwtGlMMjtdGt5fOM=</CipherValue>
                            </CipherData>
                        </EncryptedKey>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>cddcjWhmcNITtc9nZ3Y08BCidSv9UEnkLmcIOF88z1D8dOA+T+ZCErJ3HByaTaTJ3KbbZMre+bjHacm3Fy62e/+dJ8wAofGgdVZHu1jzwbJO0fzrCiJoOPdtbh+RS5dzg5k+VCfokDmmHBuwBWpu53EOp0Gmzc/n4OoYbkUxjo8bi1avmMvebN4cf8mLWUhZ082WXwnWKkg/FsNE2jYubVcdsdeQjpipNJPEPYqgFPKMoTqqHukYnOU90M9rcw9E</CipherValue>
                    </CipherData>
                </EncryptedData>
            </smtp>
        </mailSettings>
    </system.net>
    <system.identityModel>
      <identityConfiguration>
        <audienceUris xdt:Transform="Replace">
          <add value="https://dotnet-koelnbonn.de/speakernet/" />
        </audienceUris>
        <federatedAuthentication xdt:Transform="Replace">
          <wsFederation passiveRedirectEnabled="true" issuer="https://dotnet-koelnbonn.de/sts/issuer/passive"
                        realm="https://dotnet-koelnbonn.de/speakernet/" requireHttps="true" />
          <cookieHandler requireSsl="true" name=".authspeakernet" />
        </federatedAuthentication>

      </identityConfiguration>
    </system.identityModel>
</configuration>