<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SpeakerNetDbContext" connectionString="Data Source=|DataDirectory|SpeakerNet.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IoC.IncludeAssemblies" value="SpeakerNet" />
    <add key="Site.Name" value="SpeakerNet des dotnet Köln/Bonn e.V." />
    <add key="Mail.From" value="orga@dotnet-cologne.de" />
    <add key="Mail.cc" value="info@dotnet-koelnbonn.de" />
    <add key="Certificate.SigningCertificateName" value="CN=DefaultApplicationCertificate" />
    <add key="Certificate.EncryptingCertificateName" value="CN=DefaultApplicationCertificate" />
    <add key="Certificate.StoreName" value="My" />
    <add key="Certificate.StoreLocation" value="LocalMachine" />
    <add key="FederationMetadataLocation" value="https://dotnet-koelnbonn.de/sts/federationmetadata/2007-06/federationmetadata.xml" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="de-DE" uiCulture="de-DE" />
    <httpRuntime requestValidationType="SpeakerNet.Security.WSFederationRequestValidator" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" batch="false" optimizeCompilations="false">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="orga@dotnet-cologne.de" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Work\TempMails" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://localhost:44302/speakernet" />
      </audienceUris>
        <claimTypeRequired>
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="false" />
        </claimTypeRequired>
     
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral">
        <trustedIssuers>
          <add thumbprint="8F16E450F9DE8BB277D2B986A8689D3300BA9379" name="https://dotnet-koelnbonn.de/sts/issuer/passive" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
        <wsFederation passiveRedirectEnabled="true" issuer="https://dotnet-koelnbonn.de/sts/issuer/passive" realm="https://localhost:44302/speakernet" requireHttps="true" />
        <cookieHandler requireSsl="true" name=".authspeakernet" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>