<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="SpeakerNetDbContext"
         connectionString="Data Source=C:\WebSiteData\dotnet-koelnbonn.de,speakernet\SpeakerNet.sdf;Persist Security Info=False;"
         providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug,batch,optimizeCompilations)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
    </customErrors>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                       xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
              <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
              <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <KeyName>Rsa Key</KeyName>
              </KeyInfo>
              <CipherData>
                <CipherValue>eMr4fKT9haOTV1YB2Qun0zPO00Q0thI6c5guMLG8OFR/a4vbIPmWoBSeu54PsN3hkek1jdYtDw0yu+P535cpSHnzgmf/DDtue9Nai2/0xg2vsztanSa8cxM9XihEv0ozsY9suOeIAEvrifFmF0N4MkSG1as+vXahooPN6DjTTD8=</CipherValue>
              </CipherData>
            </EncryptedKey>
          </KeyInfo>
          <CipherData>
            <CipherValue>SqV2x8jrAhDOeaPTsGMtGRt7Hd/b4tylXyIVUe9ijR/mxHISMkH+c4RKl7v91PuQM/Pm8QQ4l9Kw9A0x1mmna7BknyffFhQbYz9p5AKDIlt2dJPsKFxt5Wf17xgXm45r0yoyBX4GDMzvNZn3kVl3HDyfgdsiqnE2SLWXBhvGumPI2tlJ1s0gJZdmyDbOChYjCgF/MJM1h6gBBTAgYqU0zP8YFroUCvHlZq4woQw7dcKAfnInj+xsXOGmMlv/pzC1</CipherValue>
          </CipherData>
        </EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>
  <microsoft.identityModel>
    <service>
      <audienceUris xdt:Transform="Replace">
        <add value="https://dotnet-koelnbonn.de/speakernet/" />
      </audienceUris>
      <federatedAuthentication xdt:Transform="Replace">
        <wsFederation passiveRedirectEnabled="true" issuer="https://dotnet-koelnbonn.de/sts/issuer/passive"
                      realm="https://dotnet-koelnbonn.de/speakernet/" requireHttps="true" />
        <cookieHandler requireSsl="true" name=".authspeakernet" />
      </federatedAuthentication>
    </service>
  </microsoft.identityModel>
</configuration>