@{
    ViewBag.Title = @T("Navigation_Imprint");
}

<h2>@T("Navigation_Imprint")</h2>

<b>Angaben gemäß §5 TMG</b><br /><br />
<b>dotnet Köln/Bonn e.V.</b><br /> 
Am Prinzenwäldchen 10<br /> 
53840 Troisdorf<br /> 
Telefon: +49 (0) 2241 333 657<br /> 
Telefax: +49 (0) 2241 333 689<br /> 
E-Mail: info@dotnet-koelnbonn.de<br />
<br />Vertreten durch:<br /> 
<b>Stefan Lange</b> (Vorsitzender)<br /> 
<b>Albert Weinert</b> (Stellvertreter)<br />
<br />Vereinsregister Amtsgericht Siegburg<br /> 
Registernummer: VR 2844<br />